<a href="https://colab.research.google.com/github/SowmyaLR/Statistics-for-ML/blob/pandemic-visualization/dashboard/pnademic_visualization_dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import required packages

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

Dataset source: [github](https://github.com/RamiKrispin/coronavirus-csv)

In [ ]:
!wget -O 'coronavirus_dataset.csv' https://raw.githubusercontent.com/RamiKrispin/coronavirus-csv/master/coronavirus_dataset.csv

--2020-06-17 02:37:54--  https://raw.githubusercontent.com/RamiKrispin/coronavirus-csv/master/coronavirus_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5026733 (4.8M) [text/plain]
Saving to: ‘coronavirus_dataset.csv’

coronavirus_dataset 100%[===================>]   4.79M  13.3MB/s    in 0.4s

2020-06-17 02:37:56 (13.3 MB/s) - ‘coronavirus_dataset.csv’ saved [5026733/5026733]

In [ ]:
coronavirus_df = pd.read_csv('coronavirus_dataset.csv')

In [ ]:
coronavirus_df.describe(include="all")

       Province.State Country.Region  ...         cases       type
count           26106          89490  ...  89490.000000      89490
unique             81            188  ...           NaN          3
top          Xinjiang          China  ...           NaN  confirmed
freq              342          11286  ...           NaN      30324
mean              NaN            NaN  ...     70.761806        NaN
std               NaN            NaN  ...    784.754688        NaN
min               NaN            NaN  ... -10034.000000        NaN
25%               NaN            NaN  ...      0.000000        NaN
50%               NaN            NaN  ...      0.000000        NaN
75%               NaN            NaN  ...      1.000000        NaN
max               NaN            NaN  ...  36188.000000        NaN

[11 rows x 7 columns]

In [ ]:
coronavirus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89490 entries, 0 to 89489
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province.State  26106 non-null  object
 1   Country.Region  89490 non-null  object
 2   Lat             89490 non-null  float64
 3   Long            89490 non-null  float64
 4   date            89490 non-null  object
 5   cases           89490 non-null  int64
 6   type            89490 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 4.8+ MB

In [ ]:
coronavirus_df.isnull().sum()

Province.State    63384
Country.Region        0
Lat                   0
Long                  0
date                  0
cases                 0
type                  0
dtype: int64

In [ ]:
geo = []

In [ ]:
def process_geo_points(row):
  geo.append(dict(lat=row['Lat'], lng=row['Long']))
  return

In [ ]:
coronavirus_df[['Lat', 'Long']].apply(lambda x: process_geo_points(x), axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
89485    None
89486    None
89487    None
89488    None
89489    None
Length: 89490, dtype: object

# Confirmed cases throughout the world

In [ ]:
confirmed_cases = {}

In [ ]:
def process_confirmed(row):
  if row['type'] == 'confirmed':
    if row['Country.Region'] in confirmed_cases:
      confirmed_cases[row['Country.Region']] += row['cases']
    else:
      confirmed_cases[row['Country.Region']] = 0
      
    return

In [ ]:
a = coronavirus_df.apply(lambda x: process_confirmed(x),axis=1)

In [ ]:
top_10 = dict(sorted(confirmed_cases.items(), key=lambda x: x[1], reverse=True)[:11])

In [ ]:
plt.figure(figsize=(12,10))
plt.bar(top_10.keys(),top_10.values())

In [ ]:
pd.set_option('display.max_rows',10000)

In [ ]:
groupby_cll = coronavirus_df.groupby(by=['Country.Region','Lat','Long'])
groupby_cll = groupby_cll.apply(lambda x: x[x['type'] == 'confirmed']['cases'].sum())

In [ ]:
cou,lat,long = list(zip(*(groupby_cll.filter(regex='China').index)))

In [ ]:
type(lat)

tuple

In [ ]:
list(coronavirus_df['Country.Region'].unique())