<a href="https://colab.research.google.com/github/SowmyaLR/Statistics-for-ML/blob/pandemic-visualization/dashboard/worldwide_dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import lxml.html as lh
import requests
import pandas as pd

In [88]:
page = requests.get('https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN%3Aen')

In [89]:
page.status_code

200

In [91]:
doc = lh.fromstring(page.content)
doc

In [92]:
tr_elements = doc.xpath('//tr')

In [93]:
[len(T) for T in tr_elements[:12]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [94]:
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Location"
2:"Confirmed"
3:"Cases per 1 million people"
4:"Recovered"
5:"Deaths"
6:"New cases (last 60 days)"

In [95]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                data = data.replace("\n", "")
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [96]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [97]:
pd.set_option('display.max_rows',100)

In [ ]:
df[1:]